<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title>전시상황</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/community/comDetailcss.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c1201c20f733ccf6fd6885ccb9d9b5a7"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gasoek+One&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Yeon+Sung&display=swap" rel="stylesheet">
</head>
	<body>
		<div layout:fragment="content">	
		<form th:action="@{/exhibitscape/community/communityReWriteView/__${comDTO.comId}__}" method="post" enctype="multipart/form-data">
						<div class="category-image"></div>
					<div class="item-content">
						<div class="top-content">
							<div class="category" th:text="${comDTO.comCategory}"></div>
							<div class="title" th:text="${comDTO.comTitle}"></div>
							<div class="writer-info">
								<span class="writer" th:text="${comDTO.memberId}"></span> | 
								<span class="date" th:text="${#temporals.format(comDTO.postDate, 'yyyy-MM-dd')}"></span>
							</div>
						</div>
						<div class="item-image" th:if="${comDTO.comImgSname != null and comDTO.comImgSname != ''}">
							<img th:src="@{/comFile/{comImgPath}/{comImgSname}(comImgPath=${comDTO.comImgPath}, comImgSname=${comDTO.comImgSname})}" alt="Community Image">
							<input type="hidden" name="comImgSname" th:value="${comDTO.comImgSname}">
							<input type="hidden" name="comImgPath" th:value="${comDTO.comImgPath}">
						</div>
						<div class="content" th:text="${comDTO.comContent}"></div>
						<!-- 저장된 지도 보여주기 -->
						<div th:if="${comDTO.placeLat != '' and comDTO.placeLong != '' and comDTO.placeName != ''}">
							<div class="map" id="map" th:data-com-id="${comDTO.comId}"></div>
						</div>
						<!-- 좋아요영역 -->
						<div class="like">
							<span class="like-info" th:if="${#authentication.principal != 'anonymousUser'}" th:onclick="'toggleLike(' + ${comDTO.comId} + ')'">
								<img id="heart" class="like-btn" th:src="@{${comDTO.liked ? '/image/community/redheart.png' : '/image/community/emptyheart.png'}}" alt="Like">
								<span class="like-count" th:text="${comDTO.likeCount}"></span>
							</span>
							<span class="like-info" th:unless="${#authentication.principal != 'anonymousUser'}" th:onclick="showLoginAlert()">
								<img id="heart" class="like-btn" th:src="@{${comDTO.liked ? '/image/community/redheart.png' : '/image/community/emptyheart.png'}}" alt="Like">
								<span class="like-count" th:text="${comDTO.likeCount}"></span>
							</span>
						</div>
						<!-- 댓글 시작 -->
						<div class="comment-wrap reply">
							<div class="comment-list">
								<ul>
									<li class="comment-li" th:each="comment:${comDTO.commentList}">
									<div class="comment-item">
										<div class="comment-thumb">
											<div class="profile-img">
												<img th:src="@{/image/community/{fileName}(fileName=${comment.imgRandom})}" alt="Random Image">
											</div>
										</div>
										<div class="comment-content">
											<div class="comment-info">
												<div class="user-info">
													<span class="name" th:text="${comment.memberId}"></span>
													<span class="postDate"  th:text="${#temporals.format(comment.postDate, 'yyyy-MM-dd')}"></span>
												</div>
											</div>
											<div class="comment-text" th:text="${comment.comContent}" th:data-comcom-id="${comment.comComId}"></div>
											<div class="comment-btn">
												<input type="button" class="comment-update-btn" value="수정" th:onclick="'enterEditMode(' + ${comment.comComId} + ')'"
														sec:authorize="isAuthenticated()" th:if="${comment.memberId!=null and comment.memberId==#authentication.getPrincipal().getUsername()}"/>
												<input type="button" class="comment-delete-btn" value="삭제" th:onclick="'deleteComment(' + ${comment.comComId} + ')'"
														sec:authorize="isAuthenticated()" th:if="${comment.memberId!=null and comment.memberId==#authentication.getPrincipal().getUsername()}"/>
												<button class="save-comment" style="display: none;">수정 완료</button>
											</div>
										</div>
									</div>
								</ul>
							</div>
							<div class="comment-area">
								<!-- 댓글쓰기 -->
								<div class="col-10">
									<textarea class="comment-write-area" maxlength="1000" placeholder="로그인 후 이용가능합니다." th:if="${#authentication.principal == 'anonymousUser'}" th:onclick="showLoginAlert()"></textarea>
									<textarea class="comment-write-area" maxlength="1000" placeholder="댓글을 입력하세요." th:unless="${#authentication.principal == 'anonymousUser'}"></textarea>
								</div>
								<div class="comment-btn">
									<div>
										<span class="current"></span>
										<span class="total"></span>
									</div>
									<div>
										<input type="button" class="comment-confirm-btn" value="댓글 등록" th:onclick="'submitComment(' + ${comDTO.comId} + ')'"/>
									</div>
								</div>
							</div>
						</div>
					<div class="button-group">
					<div class="submit-group">
						<a href="/exhibitscape/community/communityList" class="list-button">목록</a>
					</div>
					<div class="edit-delete-group"> <!-- 클래스 이름 변경 -->
						<button type="submit" class="edit-button" sec:authorize="isAuthenticated()" th:if="${comDTO.memberId!=null and comDTO.memberId==#authentication.getPrincipal().getUsername()}">수정</button>
						<a th:href="@{/exhibitscape/delete/{comId}(comId=${comDTO.comId})}" class="delete-button" sec:authorize="isAuthenticated()" th:if="${comDTO.memberId!=null and comDTO.memberId==#authentication.getPrincipal().getUsername()}">삭제</a>
					</div>
					</div>
					</div>
				</form>
		</div>
	<script src="/js/community/communityDetailView.js"></script>		
	</body>
</html>